@font-face {
	font-family: "Bebas Neue";
	src: url('/fonts/bebas_neue/BebasNeue Bold.otf');
}

body, html {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	font-family: Raleway, Arial, sans-serif;
	line-height: 35px;
}

nav {
	background-color: #1E6A6B;
	position: fixed !important;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 9999;
	font-size: 20px;
}

.navbar, .navbar-brand {
	min-height: 75px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.navbar-toggle {
	margin-top: 20.5px;
}

@media (min-width: 768px) {
  .navbar-nav > li > a {
    /* (75px - line-height of 27px) / 2 = 24px */
    padding-top: 24px;
    padding-bottom: 24px;
    line-height: 24px;
  }
}

ul.navbar-nav.ml-auto {
	background-color: #1E6A6B;
}

nav a.navbar-brand {
	font-size: 26px;
	line-height: 75px;
	color: white !important;
}

a.nav-link {
	color: white !important;
}

a.nav-link:hover {
	color: #B26C32 !important;
}

nav li {
	padding-right: 15px;
}

footer {
	/*background-color: #242729;*/
	background-color: #3E4143;
	color: white;
	bottom: 0;
}

.navbar-light span.navbar-toggler-icon {
	color: white !important;
}

:target {
  display: block;
  position: relative;
  top: -74px; 
  visibility: hidden;
}

#landing {
	background-image: url("http://dabushar.com/sites/default/files/field/image/web_development.jpg");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.landing-info {
	color: white;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.section-name {
	padding: 30px 0px;
}

.section-content {
	padding-bottom: 50px;
}

.myPhoto {
	height: 100%;
	width: 100%;
	border-radius: 4px;
}

.skill-col {
	padding: 20px 10px;
}

.skill-logo {
	height: 125px;
	max-width: 150px;
}

.col {
	border: 1px solid transparent;
}

section.container-fluid.color-background {
	background-color: #B26C32;
	color: white;
}

/* Landing */

.landing-link, .landing-link:visited {
	color: white;
}

.landing-link.github:hover {
	color: #24292e;
}

.landing-link.linkedin:hover {
	color: #0077B5;
}

.landing-link.stack-overflow:hover {
	color: #F48024;
}

.my-name, .my-title {
	font-weight: 900;
}

/*.my-name {
	font-size: 5em;
	font-weight: bold;
}*/

.landing-icon {
	padding: 0px 15px;
}


/* Portfolio */

.card {
	margin-bottom: 40px;
}

.card-link {
	color: #1E6A6B;
}

.card-link:hover {
	color: #B26C32;
}

.project-photo {
	height: 300px;
}

.card-body {
	height: 300px;
	overflow: scroll;
}

/* Contact Form */

.social {
	color: white;
}

.social:hover {
	color: #1E6A6B;
	text-decoration: none;
}

input.form-control, textarea.form-control {
	background-color: #B26C32;
	color: white;
}

input.form-control:focus, textarea.form-control:focus {
	background-color: #B26C32;
	color: white;
}

/* Blog Feed */

.blog-posts {
	margin-top: 75px;
}

.blog-preview {
	margin-top: 20px;
	margin-bottom: 60px;
}

.blog-link {
	color: navy;
}

.blog-link:hover {
	color: #B26C32;
}


/* Footer */

#copyright {
	padding: 18px;
	margin-bottom: 0px;
}
