body {
	margin: 0;
	font-family: 'Raleway', Arial, sans-serif;
	/* background-color: #FDFDFA; */
	width: 100%;
	padding: 0;
	line-height: 35px;
}

header {
	background-color: #228B22; /* Forest Green */
	color: white;
	margin-bottom: 3em;
}

footer {
	width: 100%;
	bottom: 0;
	line-height: 50px;
	text-align: center;
	background-color: darkgray; /* or dimgray */
	color: white;
	margin-top: 3em;
}

.content {
	margin: auto;
	width: 60%;
}

#contentPhoto {
	float: left;
	overflow: hidden;
	width: 50%;
}

.bio {
	padding-bottom: 50px;
}

h1:not(.blog-link) {
	text-align: center;
}

h1.blog-link {
	font-weight: bold;
	margin-bottom: .25em;
}

.post-date {
	font-weight: bold;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li.contact {
	display: inline-block;
	padding-right: 25px;
}

p {
	font-size: 115%;
}

a.nav {
	text-decoration: none;
	color: white;
}

a:hover {
	color: navy;
}


li.nav{
	display: inline-block;
	padding: 15px 20px;
	font-weight: bold;
}

.blog-link {
	color: Navy;
	text-decoration: none;
}

.blog-link:hover {
	color: blue;
}

a.back {
	text-decoration: none;
	color: navy;
}

a.back:hover {
	text-decoration: underline;
}

.post-date {
	text-align: center;
	font-weight: bold;
}

i.fa {
	color: white;
}

.fa-facebook-square:hover {
	color: #3B5998;
}

.fa-github-square:hover {
	color: black;
}

.fa-instagram:hover {
	color: #833ab4;
}

.fa-linkedin-square:hover {
	color: #0077B5;
}

.fa-stack-overflow:hover {
	color: #fa8024;
}
