<!DOCTYPE html>
<html>
<head>
	<title>{{ page.title }}</title>
	<link rel="stylesheet" type="text/css" href="/css/styles.css">
	<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
</head>
<body>
<header>
	<nav>
		<ul>
			<li class="nav"><a href="/index.html">About</a></li>
			<li class="nav"><a href="/blog-feed.html">My Blog</a></li>
			<li class="nav"><a href="#">Portfolio</a></li>
		</ul>
	</nav>
</header>

	{{ content }}

<footer>
	<ul>
		<li class="contact"><a href="https://www.facebook.com/clark.murray.50">Facebook</a></li>
		<li class="contact"> |  </li>
		<li class="contact"><a href="https://github.com/clarkmurray">Github</a></li>
		<li class="contact"> |  </li>
		<li class="contact"><a href="https://www.instagram.com/clarkamurray/">Instagram</a></li>
		<li class="contact"> |  </li>
		<li class="contact"><a href="https://www.linkedin.com/in/clark-murray-1a5286123/">LinkedIn</a></li>
		<li class="contact"> |  </li>
		<li class="contact"><a href="https://stackoverflow.com/users/8489520/clark-murray?tab=profile">Stack Overflow</a></li>
	</ul>
	</footer>
</body>
</html>